<aside class="sidebar">
  <div class="brand">
    <h1>Gestión de Usuarios</h1>
  </div>

  <nav class="menu">
    <div class="user-info">
      <p class="user-name">Hola, {{ user?.username.toUpperCase() }}</p>
      <button mat-stroked-button color="primary" (click)="home()">
        <span class="material-icons">home</span>
        Inicio
      </button>
      <button mat-stroked-button color="primary" (click)="logout()">
        <span class="material-icons">logout</span>
        Cerrar sesión
      </button>
    </div>
  </nav>
</aside>

<div class="user-content">
  <router-outlet></router-outlet>
</div>